* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #F5F5F5;
}

body {
    background-color: #424242;
    max-width: 970px;
    margin: 0 auto;
}

h1 {
    color: #F5F5F5;
    text-align: center;
}

img {
    height: auto;
}

ul a,
ol a {
    font-weight: bold;
    font-size: revert;
}

p,
li {
    font-size: 15px;
}

button {
    background-color: #424242;
    padding: 10px;
    font-weight: bold;
    margin-left: auto;
}

.card {
    display: inline-block;
    background-color: #229799;
    padding: 10px;
    width: 300px;
    margin: 0 10px;
}

.card img {
    width: 300px;
    height: 250px;
    margin: -10px -10px 0 -10px;
}

.card p {
    height: 120px;
}

.card a {
    display: block;
    text-align: end;
}